default:
  image: node:20-alpine
  tags:
    - cluster

cache:
  key: "$CI_PIPELINE_IID"
  paths:
    - node_modules/

stages:
  - install
  - release
  - publish

check-package-log:
  stage: install
  script:
    - |
      if grep -q 'intech.dev' package-lock.json; then
        echo "❌ Error : occurence of 'intech.dev' founded in package-lock.json";
        exit 1;
      else
        echo "✅ OK : no occurence of 'intech.dev' founded";
      fi
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^release/

install:
  stage: install
  script:
    - npm --userconfig=$NPMRC ci
  tags:
    - cluster
publish-snapshot:
  stage: publish
  only:
    - develop
  script:
    - npm --userconfig=$NPMRC --registry=$NPM_REGISTRY_SNAPSHOTS publish

publish-release:
  stage: publish
  only:
    - tags
  script:
    - npm --userconfig=$NPMRC --registry=$NPM_REGISTRY_RELEASES publish
  tags:
    - cluster
